{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block footer %}
    <div class="row-fluid">
        <div class="span2 offset10 pull-right">
            <span class="label"><a href="http://cmf.symfony.com" rel="noreferrer" style="text-decoration: none; color: black">Symfony Cmf Project</a></span>
        </div>
    </div>
{% endblock footer %}