{% extends "AcmeMainBundle::layout.html.twig" %}

{% block banner %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            {{ sonata_block_render({ 'name': 'banner' }, {
                'template': 'AcmeMainBundle:Block:home_banner.html.twig'
            }) }}
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Example row of columns -->
    {{ sonata_block_render({ 'name': 'additionalInfoBlock' }, {
        'divisible_by': 3,
        'divisible_class': 'row',
        'child_class': 'col-lg-4'
    }) }}
{% endblock %}