{% extends "AcmeMainBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div id="breadcrumbs" class="col-md-12">
            {% include 'AcmeMainBundle:Nav:breadcrumbs.html.twig' %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="acme-sidebar hidden-print affix" role="complementary">
                <ul class="nav acme-sidenav">
                    <li class="active">
                        <a href="#subnav-1">Page menu 1</a>
                        <ul class="nav">
                            <li class=""><a href="#subnav-1-1">Sub menu</a></li>
                            <li><a href="#subnav-1-2">Sub menu</a></li>
                            <li><a href="#subnav-1-3">Sub menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#subnav-2">Page menu 2</a>
                        <ul class="nav">
                            <li><a href="#subnav-2-1">Sub menu</a></li>
                            <li><a href="#subnav-2-2">Sub menu</a></li>
                            <li><a href="#subnav-2-3">Sub menu</a></li>
                            <li><a href="#subnav-2-4">Sub menu</a></li>
                        </ul>
                    </li>
                    <li><a href="#subnav-3">Page menu 3</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" role="main">
            <h2>My page</h2>
            <p>Cras pellentesque sed felis sit amet lobortis. Curabitur fermentum, mi ut posuere sagittis, odio risus placerat leo, nec scelerisque orci felis nec felis. In vehicula tortor sed nunc auctor scelerisque. Fusce vitae tempor ligula, feugiat vestibulum nibh. Vivamus fringilla tristique mauris. Nam facilisis non nisl sit amet pulvinar. Ut euismod aliquam lacus nec faucibus. Vestibulum in posuere nunc, in sollicitudin enim. Cras quis interdum quam. Donec hendrerit mi justo, in rutrum orci sollicitudin et.</p>
            <p>Mauris hendrerit vel dui eu sollicitudin. Duis commodo libero suscipit felis elementum, ut convallis augue pretium. Nulla eget nisi euismod, tincidunt augue vel, pulvinar nibh. Fusce libero metus, semper eu felis at, tempus hendrerit erat. Vestibulum eleifend varius metus et tempus. Donec non luctus augue. Nunc eu sem mattis, consectetur mauris non, aliquet eros.</p>
            <p>Mauris tortor ipsum, adipiscing vel ante vel, egestas vehicula dolor. Praesent ac enim sit amet velit lacinia semper. Nunc id massa dolor. Praesent aliquet purus erat, nec auctor arcu blandit et. Nullam porttitor est vitae volutpat bibendum. Praesent turpis lorem, ullamcorper ut turpis vel, pretium cursus urna. Ut ut rhoncus lacus, sit amet vulputate lectus. Nunc non lacinia purus, ac mollis magna. Cras sit amet dignissim purus, feugiat cursus mauris. Praesent justo nunc, semper eget tempor quis, tincidunt non tortor. Praesent rhoncus vitae nibh a faucibus. Integer vitae tortor nec nisi porta tempor ut ut sapien. Vivamus in libero a enim posuere placerat.</p>
        </div>
    </div>
{% endblock %}