{% extends "AcmeMainBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div id="breadcrumbs" class="col-md-12">
            {% include 'AcmeMainBundle:Nav:breadcrumbs.html.twig' %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="acme-sidebar hidden-print affix" role="complementary">
                {{ knp_menu_render('main', { depth: 2, currentClass: 'active', ancestorClass: 'active', template: 'AcmeMainBundle:Menu:submenu.html.twig' }) }}
            </div>
        </div>
        <div class="col-md-9" role="main">
            <h2>{{ cmfMainContent.title }}</h2>
            {{ cmfMainContent.body|raw }}
        </div>
    </div>
{% endblock %}